<div class="row"  >
    <div class="col-sm-3" *ngFor="let platformConfiguration of platformsConfigured; let i = index">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="../../assets/platform-logos/{{platformConfiguration.platformLogoName}}.svg">
          <div class="account-information">
            <p class="card-text">Username: {{platformConfiguration.username}}</p>
            <p class="card-text">Password: {{platformConfiguration.password}}</p>
            <p class="card-text">Status: </p>
          </div>
        </div>
      </div>
    </div>
</div>